<nav class="navbar navbar-fixed-top navbar-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="text-white">BCC Dashboard</span>
      </a>
      <button type="button" class="sidebar-toggle rounded">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div><!-- /.navbar-header -->

    <form class="navbar-form navbar-left" autocomplete="off">
      <div class="input-group input-group-sm rounded">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
              <button type="submit" class="btn">
                <i class="fa fa-search"></i>
              </button>
            </span>
      </div><!-- /input-group -->
    </form><!-- /.navbar-form -->

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell flat-shadow"></i>
          <span class="label circle">0</span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">
            You have 0 <a href="/">notifications.</a>
          </li><!-- /.dropdown-header -->

          <li>
            <ul class="list-dropdown-content list-dropdown-notifications">





              <!--<li>-->
                <!--<a href="#" data-click="prevent">-->
                  <!--<div class="media">-->
                    <!--<div class="media-left">-->
                          <!--<span class="label label-success circle">-->
                            <!--<i class="fa fa-cube"></i>-->
                          <!--</span>-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<i class="pull-right">12 min</i> Weekly dump created successfully.-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; /.media &ndash;&gt;-->
                <!--</a>-->
              <!--</li>-->
            </ul>
          </li>
        </ul><!-- /.dropdown-menu -->
      </li><!-- /.dropdown -->

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope flat-shadow"></i>
          <span class="label circle">0</span>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">
            You have 0 new <a href="page-inbox.html">messages.</a>
          </li><!-- /.dropdown-header -->

          <li>
            <ul class="list-dropdown-content list-dropdown-messages">




              <!--<li>-->
                <!--<a href="#" data-click="prevent">-->
                  <!--<div class="media">-->
                    <!--<div class="media-left">-->
                      <!--<img src="img/avatar3.png" alt="avatar" class="media-object img-circle">-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                      <!--<h6 class="media-heading">-->
                        <!--<i class="pull-right">10 min</i>-->
                        <!--<strong class="text-primary">Nancy Allen</strong>-->
                      <!--</h6>-->
                      <!--<span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>-->
                    <!--</div>-->
                  <!--</div>&lt;!&ndash; /.media &ndash;&gt;-->
                <!--</a>-->
              <!--</li>-->
            </ul>
          </li>
        </ul>
      </li><!-- /.dropdown -->



      <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
          <!--<img src="img/profile-sm.png" alt="avatar" class="img-circle">-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-menu-profile">-->
          <!--<li class="dropdown-header">Account Details</li>-->
          <!--<li>-->
            <!--<div class="media">-->
              <!--<div class="media-left">-->
                <!--<img src="img/profile-lg.png" alt="avatar" class="media-object img-circle">-->
              <!--</div>-->
              <!--<div class="media-body">-->
                <!--<h5 class="media-heading">Sandra Baker</h5>-->
                <!--<p>sandrabaker@gmail.com</p>-->
                <!--<a href="page-profile.html" class="btn btn-primary btn-xs">View profile</a>-->
              <!--</div>-->
            <!--</div>&lt;!&ndash; /.media &ndash;&gt;-->
          <!--</li>-->

          <!--<li>-->
            <!--<a href="page-inbox.html">-->
              <!--<i class="fa fa-paper-plane-o"></i> Inbox-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="page-timeline.html">-->
              <!--<i class="fa fa-history"></i> Timeline-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="plugin-fullcalendar.html">-->
              <!--<i class="fa fa-calendar-check-o"></i> Calendar-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="divider"></li>-->
          <!--<li>-->
            <!--<a href="page-login1.html">-->
              <!--<i class="fa fa-sign-out"></i> Sign Out-->
            <!--</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>&lt;!&ndash; /.dropdown &ndash;&gt;-->


    </ul><!-- /.navbar-nav -->
  </div>
</nav>