.demo{
  height: 200px;
}
.m_header {
    background: linear-gradient(-135deg,#93CA52, #00AB62) !important;
    color: white !important;
}
.progress_per { float:right }

.logo_height{
  height: 80px;
  width: 150px;
}

.logo_text{
  padding-top: 50px;
  padding-bottom: 20px;
  color:  #999999;
}
.box_height{
  height: 100px;
}


.fa-shopping-basket {
    width: 24px !important;
    height: 24px !important;
}
.tbl_height{
  height: 30px;
  width: 10px;
}
.inv_box{
background-color: #fc8229;
width: 200px !important;
height: 24px !important;
}

.tr_font_height{
  font-size: 1.0em;
}
.tr_font_height1{
  font-size: 2.0em;
  color: #fc8229;
}
.tr_font_height1:hover{
  color: #FFF;
}
