  <footer class="app-footer">
    <center>
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-copyright">
          Copyright © 2018 Company Co,Ltd.
        </div>
      </div>
    </div>
  </center>
  </footer>
